html, body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  background: url(./images/banbj.jpeg) no-repeat center/cover;
}

.data {
  position: absolute;
  top: 233px;
  right: 118px;
  
}
.banner {
  position: relative;
}
.tua {
  position: absolute;
  left: 316px;
  top: 99px;
  animation: tuA 1s linear infinite;
  z-index: 9;
}

.tub {
  position: absolute;
  left: 113px;
  top: 83px;
  animation: tuB 2s linear infinite;
}
.tuc {
  position: absolute;
  left: 175px;
  top: 194px;
  z-index: 9;
  /* transform: translateX(42px) translateY(14px); */
  animation: tuC 1.5s linear infinite;
}
.ren {
  position: absolute;
  left: 327px;
  top: 246px;
  z-index: 9;
}
.lingxA {
  position: absolute;
  left: 136px;
  top: 162px;
  animation: ling 1.5s linear infinite;
}
.lingxB {
  position: absolute;
  left: 74px;
  top: 127px;
  animation: ling 1.4s linear infinite;
}
.lingxC {
  position: absolute;
  left: 159px;
  top: 64px;
  animation: ling .9s linear infinite;
}
.lingxD {
  position: absolute;
  left: 187px;
  top: 135px;
  animation: ling 1s linear infinite;
}
.lingxE {
  position: absolute;
  left: 99px;
  top: 61px;
  animation: ling 1.3s linear infinite;
}
.lingxF {
  position: absolute;
  left: 138px;
  top: 45px;
  animation: ling 1.2s linear infinite;
}
.tuMing {
  position: absolute;
  left: 304px;
  top: 204px;
}
.tuAn {
  position: absolute;
  left: 306px;
  top: 204px;
  animation: tuAn 0.6s linear infinite;
}
.chaunC {
  position: absolute;
  left: 320px;
  top: 0px;
  animation: chuanC 1.2s linear infinite;
}
.chaunB {
  position: absolute;
  left: 320px;
  top: 0px;
  animation: chuanB 0.7s linear infinite;
}
.ziA {
  position: absolute;
  left: 320px;
  top: 67px;
  /* transform: translateY(-1px); */
  animation: ziA 1s linear infinite;
}
.ziB {
  position: absolute;
  left: 339px;
  top: 97px;
  animation: ziB 1.1s linear infinite;
}
.ziC {
  position: absolute;
  left: 351px;
  top: 41px;
  animation: ziC 1.2s linear infinite;
}
.guang {
  position: absolute;
  left: 267px;
  top: 262px;
  animation: guang .8s linear infinite;
  /* transform: translateX(-31px) translateY(-18px); */
}

.guangB {
  position: absolute;
  left: 288px;
  top: 253px;
  animation: guangB 1s linear infinite;
  /* transform: translateX(-39px) translateY(-23px); */
}

