.app {
  width: 300px;
  min-height: 300px;
  border: 1px solid #ccc;
}
.bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 5px;
  border-bottom: 1px solid #ccc;
}
.bar .bar-item {
  cursor: pointer;
  padding: 5px;
  border-bottom: 2px solid transparent;
}
.bar .bar-item.active {
  border-bottom-color:  #f00;
}
